.cast-container {
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-around;
	min-height: 100vh;
	padding: 5rem 0;
}
.title {
	font-size: 4.5rem;
	letter-spacing: 2px;
	color: whitesmoke;
	margin: 1.5rem 2rem;
	display: inline-block;
	width: 80%;
	text-align: center;
}
.director {
	font-size: 3rem;
	text-align: right;
}
